html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: #442;
	min-height: 600px;
}

body * {
	font-family: Arial, Geneva, SunSans-Regular, sans-serif;
	font-size: 14px;
	color: #666;
	line-height: 22px;
}

#wrapper {
	box-shadow: 0 0 20px #110;
	width: 700px;
	height: 350px;
	margin: -175px 0 0 -350px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
}

#images {
	width: 700px;
	height: 350px;
}

#images img {
	display: block;
	float: left;
}

#timer,
#captions {
	background: rgba( 0, 0, 0, 0.5);
	width: 700px;
	height: 50px;
	position: absolute;
	left: 0;
	bottom: 0;
}

#timer {
	background: rgba( 200, 0, 0, 0.5);
}

#captions .carousel>div {
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	line-height: 52px;
	text-transform: uppercase;
	text-indent: 50px;
	width: 700px;
	height: 50px;
	float: left;
}

.pager {
	line-height: 22px;
	padding: 16px 50px 0 0;
	float: right;
}

.pager a {
	border: 1px solid #fff;
	border-radius: 10px;
	display: none;
	width: 10px;
	height: 10px;
	margin: 0 3px;
}

.pager a:hover {
	background: rgba( 255, 255, 255, 0.3);
}

.pager a.selected {
	background: #fff;
}

.cod .pager .p1,
.cod .pager .p2,
.cod .pager .p3,
.gta .pager .p4,
.gta .pager .p5,
.gta .pager .p6,
.mgs .pager .p7,
.mgs .pager .p8,
.mgs .pager .p9 {
	display: inline-block;
}